.main{
    display:flex;
    flex-direction: column;
}

.child{
    margin-left: 1%;
    margin-top: 3px;
}

.child-p{
    margin-left: 1%;
    margin-bottom: 20px;
}


.params{
    margin-left: 3px;
    width: 3vw;
}

button{
    margin-left: 1%;
    text-align: center;
    width: 6vw;
}

table{
    margin-top: 1%;
    width: 50%;
}

#bub{
    margin-bottom: 1%;
}